@layer components {
  .mega-menu {
    li {
      @apply flex items-center gap-1 p-2 w-full cursor-pointer transition-all ease-in-out duration-200 hover:bg-gray-100 hover:text-blue-500;
    }
  }
  .main-menu {
    @apply bg-white text-gray-900 font-bold text-xs rounded-md shadow-lg py-3;
  }
  .sub-menu {
    @apply absolute right-0 top-0 w-96 h-full bg-white text-black text-xs rounded-md shadow-lg p-3 transform translate-x-full hidden;
    columns: 150px;
    column-gap: 2em;
    li {
      @apply items-start font-normal text-sm;
    }
  }
  .menu-item {
    &:hover {
      .sub-menu {
        display: block;
      }
    }
  }
}
