$primary-color: #1890ff;
$pagination-item-bg: #fff;
$pagination-item-size: 28px;
$pagination-item-size-sm: 24px;
$pagination-font-family: Arial;
$pagination-font-weight-active: 500;
$pagination-item-bg-active: #fff;
$pagination-item-link-bg: #fff;
$pagination-item-disabled-color-active: #fff;
// $pagination-item-disabled-bg-active: darken(hsv(0, 0, 96%), 10%);
$pagination-item-input-bg: #fff;
